<div>
<p class="lead">Overview</p>

<div class="d-flex flex-row bd-highlight">
  <div class="bd-highlight">
     <p><b>Recent Vehicles</b></p>
     <ul class="list-group">
       <li class="list-group-item">Placeholder 1</li>
       <li class="list-group-item">Placeholder 2</li>
       <li class="list-group-item">Placeholder 3</li>
       <li class="list-group-item">Placeholder 4</li>
       <li class="list-group-item">Placeholder 5</li>
     </ul>
  </div>
  <div class="bd-highlight">
     <p><b>Recent Analytics</b></p>
     <ul class="list-group">
       <li class="list-group-item">Placeholder 1</li>
       <li class="list-group-item">Placeholder 2</li>
       <li class="list-group-item">Placeholder 3</li>
       <li class="list-group-item">Placeholder 4</li>
       <li class="list-group-item">Placeholder 5</li>
     </ul>
  </div>

</div>

</div>

