<div class="container">
	<h1 align="center"><u>About Us</u></h1>
	<br><br>
	<p>	We are a group of Computer Science Students from Texas State University, and Supercharged is our website. It all started as an assignment to create a group project, then thoughts started to swirl around of making a website where anyone with any knowledge of cars whether expert or novice, could explore vehicles and enjoy seeing all that the world offers. Whether you just want to compare stats or you want to look at vehicles for yourself and or a loved one. With this in mind we created Supercharged!
	</p>
</div>
