<p class="lead">Add a Custom Vehicle</p>
<form>
  <div class="form-group">
    <label for="Make">Make</label>
    <input type="Make" class="form-control" id="Make" aria-describedby="Make" placeholder="Enter Make">
  </div>
  <div class="form-group">
    <label for="Model">Model</label>
    <input type="Model" class="form-control" id="Model" placeholder="Enter Model">
  </div>
   <div class="form-group">
    <label for="Year">Year</label>
    <input type="Year" class="form-control" id="Year" placeholder="Enter Year">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
